
  
  #apppage .view {
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/3828355/pexels-photo-3828355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

  .card {
    height: 30rem;
    width:20rem;
    padding: 2%;
    margin-left: 10rem;
  }


  