
  
  #apppage .view {
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/3828355/pexels-photo-3828355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

  .card {
    height: 30rem;
    width:20rem;
    padding: 2%;
    margin-left: 10rem;
  }


  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0; 
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 0; 
    font-size: 15px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 40px;
    height: 40px;
    padding: 0; 
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  .modal-lg {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
}